src/
node_modules/
coverage/
.vscode/
.idea/
.gitignore
.editorconfig
.gitattributes
.eslintrc.cjs
.eslintignore
.prettierrc
.prettierignore
.npmignore
.npmrc
.github/
scripts/
*.map
tsconfig.json
tsconfig.build.json
CHANGELOG.md
CONTRIBUTING.md
CODE_OF_CONDUCT.md
SECURITY.md


